@model OrderVM

@inject IHttpContextAccessor HttpContextAccessor
@{
    bool cartIsEmpty = true;
    var lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>(SessionHelper.ShoppingCart);
    if (lstCart != null && lstCart.Count > 0)
        cartIsEmpty = false;

    var productsFromCart = (IEnumerable<ProductVM>)ViewData["productsList"];
    var totalPrice = 0M;
    if (productsFromCart != null && productsFromCart.Count() > 0)
    {
        totalPrice = productsFromCart.Sum(prod => prod.Price);
    }

}

<h2 class="text-info">Detalii Comanda</h2>


@if (cartIsEmpty)
{
    <br/>
    <h5 class="text-danger">Cosul este gol</h5>
}
else
{



    <div>
        <p class="font-weight-bold">Produsele din cos:</p>
        <br />

        <table id="table" class="table table-striped table-warning">
            <thead>
                <tr>
                    <th hidden>Product Id</th>
                    <th>Imagine</th>
                    <th>Nume</th>
                    <th>Pret</th>

                </tr>
            </thead>

            <tbody>

                @foreach (var item in productsFromCart)
                {
                    <tr id="@item.Id">
                        <td hidden>@item.Id</td>
                        <td><img style="width: 100px; height: 100px;" src="~/@item.ImagePath" alt="nu exista imagine momentan" /></td>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                    </tr>
                }
                <tr id="total">
                    <td hidden>total</td>
                    <td></td>
                    <td class="font-weight-bold">Pret Total:</td>
                    <td class="font-weight-bold">@totalPrice</td>
                </tr>

            </tbody>

        </table>
    </div>


    <input asp-for="Id" hidden />

    <form action="/Order/New" method="post" enctype="multipart/form-data">

        <div asp-validation-summary="All" class="text-danger"></div>
        <br />
        <div class="row">

            <div class="col-sm-12 col-lg-12">

                <div class="row">

                    <div class="col-xs-12 col-sm-2">
                        <label class="control-label font-weight-bold">Nume </label>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <input asp-for="CustomerName" class="form-control" /><br />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>

                    <div class="col-xs-12 col-sm-2">
                        <label class="control-label font-weight-bold">Telefon </label>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <input asp-for="CustomerPhoneNumber" class="form-control" /><br />
                        <span asp-validation-for="CustomerPhoneNumber" class="text-danger"></span>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-12 col-sm-2">
                        <label class="control-label font-weight-bold">E-mail </label>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <input asp-for="CustomerEmail" class="form-control" /><br />
                        <span asp-validation-for="CustomerEmail" class="text-danger"></span>
                    </div>

                    <div class="col-xs-12 col-sm-2">
                        <label class="control-label font-weight-bold">Adresa </label>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <input asp-for="CustomerAddress" class="form-control" /><br />
                        <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                    </div>

                </div>


                <div class="col-sm-12 text-center">
                    <br />
                    <a class=" btn btn-danger" style="width: 100px" asp-controller="Home" asp-action="Index"><em class="fas fa-undo-alt"></em> Renunta</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" style="width: 150px" class="btn btn-success"><em class="fas fa-save"></em> Plaseaza comanda</button>
                </div>

            </div>

    </form>
}


